<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>532776499746-pvu0idju3cvsppac7tpdrv9efcb5vefa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532776499746-pvu0idju3cvsppac7tpdrv9efcb5vefa</string>
	<key>API_KEY</key>
	<string>AIzaSyAY2nja7-BI8Q4G8div8L9brHu-O0sVcOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>532776499746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hocluan.ChitChat</string>
	<key>PROJECT_ID</key>
	<string>chitchat-1a565</string>
	<key>STORAGE_BUCKET</key>
	<string>chitchat-1a565.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:532776499746:ios:464f91916d3ec36c</string>
	<key>DATABASE_URL</key>
	<string>https://chitchat-1a565.firebaseio.com</string>
</dict>
</plist>